header{
    background: url(../images/background.jpg) no-repeat top right;
    background-size: contain;
}
button{
    border: none;
    background: none;
}

/* パディングを適用 */
.pd-1{
    padding: 1rem;
}
.pd-2{
    padding: 2rem;
}
.pd-3{
    padding: 3rem;
}
.marin-auto{
    margin: 0;
}

.img-80{
    width: 80%;
}

.backgreen{
    background-color:rgba(96,194,29,0.7);
}

.text-red{
    color: red;
}


.main-text{
    width: 70%;
    padding: 2rem 0;
}
.submit-btn{
    padding: 1rem;
}

#future{
    padding: 2rem 1rem;
}
.future-text p{
    padding: 5rem 0 3rem 0;
    margin: 0 auto;
    font: normal 28px Source Han Sans JP;
    letter-spacing: 0px;
    color: #FFFFFF;
    line-height: 1.8;
    text-shadow: 3px 3px 3px #0000009B;
}
.future-items div{
    text-align: center;
    padding: 1rem;
}
.result-area{
    background: url(../images/lounge_bk.png) no-repeat bottom center;
    background-size: cover;
}
.course-caption h2{
    background: #fff;
    color: #60C21D;
    line-height: 1.3;
    display: inline;
}
.course-area{
    background-color: #CEE37B;
    margin: 0 2rem;
    padding: 2rem;
}
.skillset-title,.skillset-price,.skillset-item{
    background-color: #FFFFFF;
}
.skillset-item{
    margin: 1rem 0;
}
.skillset-item img{
    display: inherit;
    margin: 0 auto;
}
.skillset-column{
    padding: 2rem 0;
}
.center{
    text-align: center;
}
.skillset-border{
    border-right: 1rem solid #CEE37B;
}
.skillset-width{
    width: 80%;
}
.skillset-title h3{
    padding: 0.5rem;
}
.skillset-price h3{
    padding: 5px;
}
.text-box{
    padding-top: 3rem;
}
.text-box2{
    padding-top: 2rem;
}

.greenbox{
    background-color: #EFF9E8;
    padding: 1rem;
}
.online-column{
    margin: 2rem 0;
    padding: 1rem 0;
    border-top: 1px solid #60C21D;
}
.online-text h2{
    color: #60C21D;
    line-height: 1.3;
}
.comment-icon{
    padding: 2rem;
    text-align: center;
}
.online-caption{
    padding: 1.5rem;
}
.online-caption p{
    font-size: 1.2rem;
    margin-top: 1rem;
}
.js img{
    padding: 2rem;
}
.java img{
    padding: 3rem;
}
.php img{
    padding: 2rem;
}
.go img{
    padding: 1rem;
    position: relative;
    top: 25px;
}
.photoshop img{
    padding: 2rem;
}


@media screen and (max-width: 768px){
    .future-text{
        padding: 0;
    }
    .future-text p{
        font: normal 21px Source Han Sans JP;
    }
    header .pd-2{
        padding: 0 0.5rem;
    }
    .submit-btn{
        padding: 0.5rem;;
    }
    header{
        background-size: cover;
    }
    .img-80{
        width: 80%;
    }
    .course-area{
        padding: 0;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.3rem;
    }
    p{
        font-size: 0.8rem;
    }
    .flex-nowrap{
        flex-wrap: wrap!important;
    }
    .java img{
        padding: 2rem;
    }
    .js img{
        padding: 1rem;
    }
    .php img{
        padding: 1rem;
    }
    .text-box{
        padding-top: 2rem;
    }
    .text-box2{
        padding-top: 1rem;
    }
}

@media screen and (max-width: 500px){
    .text-box{
        padding-top: 1rem;
    }
    .text-box2{
        padding-top: 1rem;
    }
    .go img{
        position: relative;
        top: 5px;
    }
}